.meter-10000up { top: calc(10000px - 10000px - 20px); }
.meter-8848up { top: calc(10000px - 8848px - 20px); }
.meter-9200up { top: calc(10000px - 9200px - 20px); }
.meter-6263up { top: calc(10000px - 6263px - 20px); }

.meter-5895up { top: calc(10000px - 5895px - 20px); }
.meter-5337up { top: calc(10000px - 5337px - 20px); }
.meter-5130up { top: calc(10000px - 5130px - 20px); }
.meter-5000up { top: calc(10000px - 5000px - 20px); }

.meter-4500up { top: calc(10000px - 4500px - 20px); }

.meter-3658up { top: calc(10000px - 3658px - 20px); }
.meter-3570up { top: calc(10000px - 3570px - 20px); }

.meter-1500up { top: calc(10000px - 1500px - 20px); }

.meter-760up { top: calc(10000px - 760px - 20px); }
.meter-691up { top: calc(10000px - 691px - 20px); }
.meter-524up { top: calc(10000px - 524px - 20px); }

.meter-24up { top: calc(10000px - 24px - 20px); }

.meter-2up { top: calc(10000px - 10px - 20px); }

.meter-0 { top: calc(10000px - 20px); }

.meter-115down { top: calc(10000px + 115px - 20px);	}
.meter-253down { top: calc(10000px + 253px - 20px);	}
.meter-258down { top: calc(10000px + 258px - 20px);	}
.meter-430down { top: calc(10000px + 430px - 20px);	}
.meter-800down { top: calc(10000px + 800px - 20px);	}
.meter-907down { top: calc(10000px + 907px - 20px);	}

.meter-1000down { top: calc(10000px + 1000px - 20px);	}
.meter-1271down { top: calc(10000px + 1271px - 20px);	}
.meter-1500down { top: calc(10000px + 1500px - 20px);	}
.meter-2998down { top: calc(10000px + 2998px - 20px);	}
.meter-3680down { top: calc(10000px + 3680px - 20px); }
.meter-3810down { top: calc(10000px + 3810px - 20px); }
.meter-8848down { top: calc(10000px + 8848px - 20px);	}

.meter-10898down { top: calc(10000px + 10898px - 20px);	}
.meter-10994down { top: calc(10000px + 10994px - 20px);	}
.meter-12199down { top: calc(10000px + 12199px - 20px);	}


.meter-20000down { top: calc(10000px + 20000px - 20px);	}
.meter-40000down { top: calc(10000px + 40000px - 20px);	}
.meter-50000down { top: calc(10000px + 50000px - 20px);	}
.meter-410000down { top: calc(10000px + 410000px - 20px);	}
.meter-660000down { top: calc(10000px + 660000px - 20px);	}
.meter-2910000down { top: calc(10000px + 2910000px - 20px);	}
.meter-4800000down { top: calc(10000px + 4800000px - 20px);	}
.meter-5150000down { top: calc(10000px + 5150000px - 20px);	}
.meter-6351000down { top: calc(10000px + 6351000px - 20px);	}
.meter-6371071down { top: calc(10000px + 6371071px - 20px);	}
.meter-6378000down { top: calc(10000px + 6378000px - 20px);	}


