a:hover {
	color: inherit;
	text-decoration: none;
}

.center {
	text-align: center;
}

.site-title {
	font-family: "Merriweather", sans-serif;
	font-weight: bolder;
	color: #212529;
}

.page-title {
	font-variant: small-caps;
}

.header {
	background-color: #FFF;
	height: 50px;
}
.container {
	margin-top: 50px;
}

.text {
}


/* Summary
-------------------------------------------------- */
.summary {
	position: fixed;
	right: 0;
	padding-top: 5px;
	text-align: right;
	background-color: #FFF;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	width: 300px;
	z-index: 600;
}
.summary-toggle {
	cursor: pointer;
	padding-right: 20px;
	width: 100%;
	display: block;
	font-size: 14px;
}
.summary-list {
	display: none;
	width: 300px;
	height: 500px;
	border-top: 1px solid #AAA;
	text-align: left;
	background-color: #EEE;
  overflow-y: scroll;
}
.summary-list ul {
  list-style-type: none;
  padding-left: 0px;
  font-size: 12px;
}
.summary-list ul li {
	cursor: pointer;
  padding-left: 10px;
}
.summary-list ul li:hover {
	background-color: #CCC;
  padding-left: 20px;
}
.summary-alt {
	width: 60px;
	display: inline-block;
}




/* Footer
-------------------------------------------------- */
.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
